# Ignore virtual environment
venv*/
.venv*/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env

# OS-specific
.DS_Store
Thumbs.db
